.tablefollowupbutton {
     display: flex;
     gap: 5px;
    justify-content: flex-end;
}

@media(max-width:968px) {
     .tablefollowupbutton {
          margin-top: 10px;
         
     }
}


/* .follow-up-table {
     display: flex;
     gap: 10px;
}

@media (max-width:1250px) {
     .follow-up-table {
          display: flex;
          flex-direction: column;
          gap: 10px;
     }
} */