.tableworkbuttonproject {
  display: flex;
  gap: 5px;
}


.projectdeatilstable {
  margin-top: 10px;
  width: 150%;
}

.pagination-first {
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
}

@media(max-width:1308px) {
  .projectdeatilstable {
    margin-top: 10px;
    min-width: 200% !important;
    width: auto;
  }

  .projectdeatilstable-admin {
    margin-top: 10px;
    min-width: 130% !important;
    width: auto;
  }
}